{% extends 'base.html' %}
{% comment %} 
#PangTa Huang
#11/18/2023 
{% endcomment %}
{% block content %}
<div class="container">
    <h1 class="my-4 text-center">Restaurant Menu</h1>
    <form method="get" action="{% url 'home' %}" class="form-inline d-flex justify-content-center my-4">
      <input class="form-control mr-sm-2 w-25" type="search" name="q" placeholder="Search meals..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div style="display: flex; justify-content: center;">
        <ul class="list-group list-group-flush">
                   {% comment %} using Jinja For loop {% endcomment %}
                   {% for meal in meals %}
                   <h2 class="pt-5">{{ meal.1 }}</h2>
                   {% for row in item_list %}
                   {% comment %} this is checking that current meal type is same type {% endcomment %}
                       {% if row.meal_type == meal.0 %}
                       {% comment %} if the item is unavailable, it will grey out the items, and description disappear {% endcomment %}   
                        {% if row.status == 0 %}
                            <li class="list-group-item d-flex justify-content-between align-items-center border rounded pb-0 mb-3" >
                                {% comment %} when it clicked it will render to the menu item page {% endcomment %}
                                {% comment %} row.pk is primary key of the items {% endcomment %}
                                <h3 class="text-muted">{{ row.meal }}</h3>
                                <span class="badge bg-primary rounded-pill">{{ row.price }}</span>
                            </li>
                        {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center border rounded pb-0 mb-3" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#F8F9FA';" onmouseout="this.style.backgroundColor='white';">
                                <a href="{% url 'menu_item' row.pk %}" class="stretched-link" style="text-decoration:none; color:black"><h3>{{ row.meal }}</h3></a>
                                <span class="badge bg-primary rounded-pill">{{ row.price }}</span>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}