<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Restaurant Menu</h1>
            {% comment %} using Jinja For loop {% endcomment %}
            {% for meal in meals %}
                <h2>{{meal.1}}</h2>
                {% comment %} item_list is from the class Items, Jinja is looking typically list {% endcomment %}
                {% for row in item_list  %}
                {% comment %} this is checking that current meal type is same type {% endcomment %}
                    {% if row.meal_type == meal.0 %}
                        <h2>{{ row.meal }}</h2>
                        <h3>{{ row.description }}</h3>
                    {% endif %}
                    <p>{{ row.price }}</p>
                {% endfor %}
            {% endfor %}
    </body>
</html>